
body {
    margin: 0;
    background-color: #766b8a;
    font-family: 'Monserrat', sans-serif;
    color: rgb(67, 63, 63);
}

.main > div {
    display: flex;
    background-color: rgb(55, 59, 59);
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 60vh;
    align-items: flex-start;
}

.app {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    flex-basis: 60%;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw;
    grid-template-rows: 15vw 15vw;
    color: white;
    justify-items: stretch;
    justify-content: center;
}

.stats {
    display: inline-flex;
}

.content {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 60vh;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(39, 39, 39);
}

.reviews {
    columns: 15vw;
    grid-row: 15vw 15vw;
}

.Sidebar {
    width: 300px;
    height: 800px;
    background-color: rgb(39, 39, 39);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebarcontent {
    display: flex;
    justify-content: space-between;
}